* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbarcontainer {
    display: flex;
    flex-direction: column;
    min-height: 7em;
    justify-content: center;
    background-color: rgb(99, 102, 241);
    border-radius: 10px 10px 20px 20px
}

.logoimg {
    width: 60px;
    height: 60px;
    transform: scale(1.5);
}


.navbar,
.brand,
.links {
    display: flex;
    align-items: center
}

.navbar {
    min-width: 90%;
    max-width: 92%;
    margin: auto auto;

}

.brandname {
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    padding-left: 1em;
}

.links {
    /* flex-wrap: wrap; */

    margin-left: auto;

}

.link {
    padding-right: 1em;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 0.95em;
    transition: all 0.3s;
}

.linkbutton {
    transition: all 0.1s;
    border: 0px;
    background: rgb(243, 244, 246);
    font-size: 1em;
    color: rgb(75, 85, 99);
    padding: 4px 12px;
    border-radius: 5px;
}

.link:hover {
    cursor: pointer;
    color: black;
}

.linkbutton:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}


.hero,
.notimage {
    display: flex;
}

.hero {
    max-width: 95%;
    margin: auto;
    padding: 6em 2em;
    align-items: center;

}

.myheading {
    font-size: 2.2em;
}

.notimage {
    flex-direction: column;
    padding-right: 6em;
}

.image {
    max-width: 32rem;

}

.img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.herobtn {
    border: 0px;
    border-radius: 5px;
    padding: 1em;
    font-size: 0.9em;
    margin-right: 1em;
}

.herobtn:nth-of-type(2n) {
    background-color: rgb(99, 102, 241);
    color: rgb(243, 244, 246);
}

























@media(max-width:768px) {
    .navbar {
        min-height: 7rem;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5em;
    }

    .links {

        min-width: 58%;
        justify-content: space-around;
        margin: 0 auto;

        padding-bottom: 0.5em;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .link {
        display: inline;
        padding-right: 1.5em;
    }

    .linkbutton {

        display: block;
    }
}


@media(max-width:916px){
    .image{
        min-width:22rem ;
    }
    .notimage{
        padding-right: 2em;
    }
}
@media(max-width:768px){
    .hero{
        flex-direction: column;
        gap:3em
    }
    .image{
        min-width:0em ;
        max-width: 35em;
       
    }
    .herobuttons,.notimage{
        text-align: center;
    }
    .notimage{

        gap:0.5em;
        padding-right: 0em
    }
}