* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background-color: rgb(99,123,243);
    padding:1.5em 1em;

}
.navbar{
    display: flex;
    align-items: center;
    margin:auto;

}
.links{
    margin-left: auto;
}
.link{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    margin-right: 1em;
}
.link:hover{
    color: black;
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}
.con:hover{
    background-color: rgba(255,255,255,0.8);
    transform: scale(1.2);
    transition: 0.3s ease-out;
}

.brand{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
}
.logo{
    width: 50px;
    transform: scale(1.5);
}
.con{
    font-size: 1.1em;
    padding:2px 6px;
    border:none;
    border-radius: 3px;
}
.hero{
    margin:auto;
    padding: 6em 2em;
    display: flex;
    align-items: center;
}
.notimage{
    display: flex;
    flex-direction: column;
    padding-right: 6em;
}
.myheading{
    font-size: 2.2em;
}
.image{
    max-width: 32rem;
}
.img{
    max-width: 32rem;
    border-radius: 7px;
}
.herobtn{
    display: flex;
}
.herobtn button{
    font-size: 1.2em;
    margin-right: 10px;
    padding: 7px;
    border: none;
    border-radius: 6px;
    border:solid black 1px   
}
.herobtn button:first-child{
    color: white;
    background-color: rgb(99,123,243);
}
.herobtn button:first-child:hover{
    color:black;
    background-color: rgb(239,239,239);
    transform:scale(1.1);
    transition:all 0.3s ease-in
    
}
.herobtn button:last-child:hover{
    color:white;
    background-color: rgb(99,123,243);
    transform:scale(1.1);
    transition:all 0.3s ease-in
    
}

    